:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-icon {
    color: #DD2E44;
    font-size: 2rem;
    margin: 8px;
}

.error-message {
	text-align: center;
}