<section class="form-container">
    <app-header [level]="headerLevel.H1" text="Add Birthday"></app-header>
    <form class="event-form"
        [formGroup]="birthdayForm"
        (ngSubmit)="onSubmit()">
        <span class="instructions">Please enter a name and select a birthdate.</span>
        <fieldset class="name">
            <input type="text" 
                formControlName="name"
                placeholder="Name"/>
            <div class="input-error" *ngIf="!birthdayFormControl.valid && this.submitted">
                    <span *ngIf="birthdayFormControl.name.errors?.required">
                        Name is required.
                    </span>
                    <span *ngIf="birthdayFormControl.name.errors?.minlength || birthdayFormControl.name.errors?.invalidName">
                        Please enter a valid name.
                    </span>
            </div> 
            <app-datepicker appFocus 
                class="datepicker-container"
                placeholder="Date"
                [birthdayForm]="birthdayForm.controls.date"
                [calendarType]="calendarType"
                [submitted]="submitted">
            </app-datepicker>
            <app-checkbox 
                id="action-lunar"
                name="Lunar"
                value="lunarFormControl.value"
                [checked]="lunarFormControl.value"
                [formControlName]="lunarFormControl"
                (onToggleCheck)="toggleLunarValue()">
            </app-checkbox>
        </fieldset>
        <fieldset class="event-options">
            <app-header [level]="headerLevel.H3" text="Actions"></app-header>
            <app-checkbox *ngFor="let option of birthdayChecks; let i = index"
                [name]="option.action"
                [checked]="checkboxValue(i)"
                [formControlName]="option.id"
                [value]="checkboxValue(i)"
                (onToggleCheck)="toggleCheckbox(i)"
               >
            </app-checkbox>
        </fieldset>        
        <button type="submit">
            Submit
        </button>
    </form>
</section>