<section class="form-container">
    <app-header [level]="headerLevel.H1" text="Add Birthday"></app-header>
    <form class="event-form"
        [formGroup]="birthdayForm"
        (ngSubmit)="onSubmit()">
        <span class="instructions">Please enter a name and select a birthdate.</span>
        <fieldset class="name">
            <input type="text" 
                formControlName="name"
                placeholder="Name"/>
            <div class="input-error" *ngIf="!birthdayFormControl.valid 
                && (birthdayFormControl.name.touched || birthdayFormControl.name.dirty)">
                    <span *ngIf="birthdayFormControl.name.errors?.required">
                        Name is required.
                    </span>
                    <span *ngIf="birthdayFormControl.name.errors?.minlength || birthdayFormControl.name.errors?.invalidName">
                        Please enter a valid name.
                    </span>
            </div> 
            <app-datepicker appFocus 
                class="datepicker-container"
                formControlName="date"
                placeholder="Date"
                [calendarType]="calendarType"
                (onDatePicked)="setSelectedDate($event)">
            </app-datepicker>
            <div class="input-error" *ngIf="!birthdayFormControl.valid">
                <span *ngIf="!selectedDate">
                    Date is required.
                </span>
            </div> 
            <app-checkbox 
                id="action-lunar"
                name="Lunar"
                [checked]="isLunar"
                (onToggleCheck)="isLunar = !isLunar">
            </app-checkbox>
        </fieldset>
        <fieldset class="event-options">
            <app-header [level]="headerLevel.H3" text="Actions"></app-header>
            <app-checkbox 
                id="action-call"
                name="Call"
                [checked]="birthdayActions.call"
                (onToggleCheck)="birthdayActions.call = !birthdayActions.call">
            </app-checkbox>
            <app-checkbox 
                id="action-call"
                name="Text"
                [checked]="birthdayActions.text"
                (onToggleCheck)="birthdayActions.text = !birthdayActions.text">
            </app-checkbox>
            <app-checkbox 
                id="action-call"
                name="Buy Present"
                [checked]="birthdayActions.gift"
                (onToggleCheck)="birthdayActions.gift = !birthdayActions.gift">
            </app-checkbox>
        </fieldset>        
        <button type="submit">
            Submit
        </button>
    </form>
</section>