<form [formGroup]="form">
	<fieldset class="description">
		<app-heading [level]="headerLevel.H3" text="Additional Details">
			<span class="event-form__optional" post>Optional</span>
		</app-heading>
		<span for="event-description" class="form-instructions">{{ formInstructions }}</span>
		<textarea id="event-description"
			rows="5"
			formControlName="description"
			placeholder="Description"></textarea>
		Max {{ maxChars }} characters.
		<div class="input-error" *ngIf="submitted && form.controls[controlName]?.errors">
			<span *ngIf="form.controls[controlName]?.errors?.maxlength">
				Description should not exceed {{ maxChars }} characters.
			</span>
		</div> 
	</fieldset>
</form>