<form [formGroup]="form">
	<fieldset class="description">
		<app-heading text="Additional Details"
			[level]="headerLevel.H3">
			<span post class="event-form__optional">Optional</span>
		</app-heading>
		<span class="form-instructions"
			for="event-description">
			{{ formInstructions }}
		</span>
		<textarea id="event-description"
			formControlName="description"
			placeholder="Description"
			rows="5"></textarea>
		Max {{ maxChars }} characters.
		<div *ngIf="submitted && form.controls[controlName]?.errors"
			class="input-error">
			<p *ngIf="form.controls[controlName]?.errors?.maxlength">
				Description should not exceed {{ maxChars }} characters.
			</p>
		</div> 
	</fieldset>
</form>