<form [formGroup]="form">
	<section #select class="input-container">
		<fieldset class="condensed multi">
			<input readonly
				class="narrow" 
				formControlName="countryCode"
				placeholder="Code"
				type="text" 
				[ngClass]="{ 'options-open' : showOptionList }"
				(click)="showHideOptions()"
				(keydown)="onKeydownEvent($event)"/>
			<app-decorator ariaLabel="Dial Code Selector"
				iconClasses="icon-small"
				[icon]="icon.Down">
			</app-decorator>
			<input type="number"
				formControlName="number"
				placeholder="Number">
		</fieldset>
		<div *ngIf="submitted && form.errors"
			class="input-error">  
			<p *ngIf="form.errors?.missingPhone">
				Please enter a phone number.
			</p>
			<p *ngIf="form.errors?.invalidPhone">
				Please enter a valid phone number.
			</p>
		</div>
		<section *ngIf="showOptionList"
			class="options"
			[ngClass]="{ 'show' : showOptionList }">
			<app-search></app-search>
			<button *ngFor="let country of countries; let i = index"
				class="option focus-option"
				type="button"
				[attr.aria-hidden]="showOptionList ? false : true"
				[ngClass]="{ 'selected' : this.form.get('phone.countryCode')?.value === country.code, 'focus-origin' : i === 0 }"
				[tabindex]="showOptionList ? 0 : -1"
				(click)="selectOption(country[2])">
				{{ country[0] }}
			</button>
			<button class="tab-stop"
				[attr.aria-hidden]="showOptionList ? false : true"
				[tabindex]="showOptionList ? 0 : -1">
			</button>
		</section>
	</section>
</form>
