<section class="task-list__selectors">
	<app-recurrence-filter (filterReset)="resetTasksFilters()"
		(onRecurrenceSelect)="filterByRecurrence($event)">
	</app-recurrence-filter>
	<app-status-filter (filterReset)="resetTasksFilters()"
		(statusSelect)="filterByStatus($event)">
	</app-status-filter>
</section>

<section *ngIf="list$ | async as list" class="task-list__scrollable-container hide-scrollbar">
	<section *ngIf="list && list.length > 0"
		class="task-list__scrollable-list">
		<ul class="task-list">
			<li *ngFor="let task of list"
				class="task-list__item">
				<ng-container [ngTemplateOutlet]="taskList" 
					[ngTemplateOutletContext]="{ 'task': task }">
				</ng-container>   
			</li>
		</ul>
	</section>
	<section *ngIf="list && list.length === 0"
		class="no-results flex-centered__column">
		<app-no-items [config]="noItemsConfig"></app-no-items>
	</section>
</section>

<ng-template #taskList let-task="task">
	<section class="task-list__item-info form-container flex-centered__column flex-stretch">
		<p class="task-details__wrapper multi-line">
			<app-recurrence-indicator [recurrences]="task.recurrence"></app-recurrence-indicator>
			<app-status-indicator [status]="task.status"></app-status-indicator>
		</p>
		<app-heading [level]="headerLevel.H2"
			[text]="task.name">
			<section post class="actions edit-actions">
				<app-action ariaLabel="Edit"
					[enabled]="true"
					[icon]="icon.Edit"
					(actionSelected)="editTask(task)">
				</app-action>
				<app-action ariaLabel="Delete"
					[enabled]="true"
					[icon]="icon.Delete"
					(actionSelected)="onDeleteClicked(task.uuid)">
				</app-action>
			</section>
		</app-heading>
		<p class="task-details__wrapper">
			<span class="task-details__label">Due</span>
			<span class="task-details__description">{{ task | taskFormatter: true }}</span>
		</p>
		<p *ngIf="task.description" class="task-details__wrapper description">
			<span class="task-details__label">Details</span>
			<span class="task-details__description" 
				[innerText]="task.description">
			</span>
		</p>
	</section>
</ng-template>