:host {
  display: flex;
  flex-direction: column;
}

.ml-image-upload__delete {
  color: #dd2e44;
  position: absolute;
  right: 0;
}

.ml-image-upload__picker {
  width: 100%;
}

.ml-image-upload__preview {
  display: flex;
  justify-content: center;
  position: relative;
}

.ml-image-upload__preview-src {
  max-width: 40%;
}
