<!-- type: file allows the user to choose 1+ files from device storage
     accept: image/* means any image file -->
<ng-container [formGroup]="uploadForm">
    <input #imageInput
		accept="image/*"
        class="image-upload__picker"
		formControlName="fileName"
        type="file"
        (change)="processFile(imageInput)">
    <section *ngIf="selectedImageUrl$ | async as imgUrl"
		class="image-upload__preview">
        <img class="image-upload__preview-src" 
			[src]="imgUrl"/>
        <button class="delete-btn description"
			type="button" 
            (click)="deleteImage()">
                <i class="fas fa-times"></i>
            </button>
    </section>
</ng-container>

