<section class="ml-form-container">
    <form class="ml-event-form"
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()">
		<ml-heading text="Sign Up"
			[level]="headerLevel.H1">
		</ml-heading>
		<span class="ml-form-instructions">Enter your email address and create a password.</span>
		<fieldset class="username">
            <input formControlName="username"
                placeholder="Email"
				type="text"/>
            <div *ngIf="submitted && registerFormControl.username.errors"
				class="ml-input__error">
                    <p *ngIf="registerFormControl.username.errors?.required"
						class="ml-input__error-msg">
                        Email is required.
					</p>
                    <p *ngIf="registerFormControl.username.errors?.minlength || registerFormControl.username.errors?.maxlength"
						class="ml-input__error-msg">
                        Please enter {{ limit.Username.min }} to {{ limit.Username.max }} characters.
					</p>
					<p *ngIf="registerFormControl.username.errors?.invalidUsername"
						class="ml-input__error-msg">
                        Please enter a valid email.
                    </p>
            </div> 
        </fieldset>
		<fieldset class="ml-password">
            <input formControlName="password"
                placeholder="Password"
				[type]="showPassword ?  'text' : 'password'"/>
			<ml-action ariaLabel="Show Password"
				class="ml-password--show"
				[enabled]="true"
				[icon]="icon.View"
				(actionSelected)="toggleShowPassword()">
			</ml-action>
            <div *ngIf="submitted && registerFormControl.password.errors"
				class="ml-input__error">
                    <p *ngIf="registerFormControl.password.errors?.required"
						class="ml-input__error-msg">
                        Password is required.
					</p>
                    <p *ngIf="registerFormControl.password.errors?.minlength || registerFormControl.password.errors?.maxlength"
						class="ml-input__error-msg">
                        Please enter {{ limit.Password.min }} to {{ limit.Password.max }} characters.
					</p>
					<p *ngIf="registerFormControl.password.errors?.invalidPassword"
						class="ml-input__error-msg">
                        Password contains invalid characters. Please enter letters, numbers, and/or the following characters: !, @, #, $, %, &, *, _.
                    </p>
            </div> 
        </fieldset>
        <fieldset class="ml-form-actions"> 
            <button type="submit">
                Register
            </button>
        </fieldset>
    </form>
	<span class="ml-form-instructions">Already have an account? <a class="ml-quick-link" routerLink="/login">Sign in!</a></span>
</section>