:host {
  background-color: white;
  bottom: 0;
  height: 44px;
  position: fixed;
  width: 100%;
}

.ml-footer__text {
  margin: 1em;
}

@media only screen and (max-width: 500px) {
  .ml-footer__text {
    margin: 10px;
  }
}
