<div *ngIf="calendarMonths[monthIdx]"
	class="calendar">
    <section class="header-container">
        <div>
            <h4>{{ months[calendarMonths[monthIdx].value-1] }} {{ calendarMonths[monthIdx].year }}</h4>
        </div>
        <div class="arrow-buttons">
            <button aria-label="Previous Month"
				id="previous-month"
				type="button"
				[attr.aria-hidden]="monthIdx === 0 ? true : false"
				[disabled]="monthIdx === 0"
				[ngClass]="{ 'focus-option' : monthIdx !== 0 }" 
                [tabindex]="monthIdx === 0 ? -1 : 0"
                (click)="previousMonth()">
                <i class="arrow-btn fas fa-chevron-left"></i>
            </button>
            <button aria-label="Next Month"
				id="next-month"
				type="button"
				[attr.aria-hidden]="monthIdx === calendarMonths.length-1 ? true : false"
				[disabled]="monthIdx === calendarMonths.length-1"
				[ngClass]="{ 'focus-option' : monthIdx !== calendarMonths.length-1 }" 
                [tabindex]="monthIdx === calendarMonths.length-1 ? -1 : 0"
                (click)="nextMonth()">
                <i class="arrow-btn fas fa-chevron-right"></i>
            </button>
        </div>  
    </section>
    <section class="body-container">
        <div class="month-header">
            <span>S</span>
            <span>M</span>
            <span>T</span>
            <span>W</span>
            <span>T</span>
            <span>F</span>
            <span>S</span>
        </div>
        <app-calendar-month [month]="month" 
            [type]="type"
            [selectedDate]="selectedDate"
            (dateSelect)="selectDate($event)"></app-calendar-month>
        <button class="tab-stop"
            tabindex="0"
            [attr.aria-hidden]="false">
        </button>
    </section>
</div>
