:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.calendar {
    height: 100%;
    width: 95%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.month-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.38);
}

.month-header span {
    color: rgba(0,0,0,.38);
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
    width: 15%;
    padding: 3px;
}

.arrow-buttons {
    display: flex;
    flex-basis: 30px;
    justify-content: space-between;
}

.arrow-buttons button {
    color: #DD2E44;
}

.arrow-buttons button[disabled] {
    color: #9E9E9E;
}