:host, .calendar {
  	display: flex;
  	flex: 1;
}

.body-container {
  	display: flex;
  	flex-direction: column;
}

.calendar {
  	flex-direction: column;
  	margin: 0 8px;
}

@media only screen and (max-width: 500px) {
	.calendar {
		margin: 0;
	}
}

.arrow-buttons {
  	display: flex;
  	flex-basis: 30px;
  	justify-content: space-between;
}

.arrow-buttons button {
  	color: #dd2e44;
}

.arrow-buttons button[disabled] {
  	color: #9e9e9e;
}

.arrow-button__img {
  	font-size: 20px;
}

.body-container {
  	flex: 1;
}

.header-container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.month-header {
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.38);
  	display: flex;
	height: 25px;
  	justify-content: center;
  	margin-bottom: 8px;
}

.month-header span {
	color: rgba(0, 0, 0, 0.38);
	font-size: 12px;
	margin-bottom: 5px;
	padding: 3px;
	text-align: center;
	width: 15%;
}
