<section #select class="input-container">
	<ml-action *ngIf="selectedRecipient" 
		ariaLabel="Clear Recipient Filter"
		class="clear-filter-btn"
		[enabled]="true"
		[icon]="icon.Close"
		(actionSelected)="clearFilter()">
	</ml-action>
	<ng-container [ngTemplateOutlet]="recipientSelect"></ng-container>
</section>

<ng-template #recipientSelect>
	<input readonly
		placeholder="Filter by Recipient"
		type="text"
		[ngClass]="{ 'options-open' : showOptionList }"
		[value]="selectedRecipient?.name"
		(click)="showHideOptions()"
		(keydown)="onKeydownEvent($event)"/>
	<section *ngIf="showOptionList"
		class="options"
		[ngClass]="{ 'show' : showOptionList }">
		<button *ngFor="let recipient of list; let i = index"
			class="option ml-focus-option"
			type="button"
			[attr.aria-hidden]="showOptionList ? false : true"
			[ngClass]="{ 'selected' : selectedRecipient?.uuid === recipient.uuid, 'focus-origin' : i === 0 }"
			[tabindex]="showOptionList ? 0 : -1"
			(click)="selectOption(recipient)">
			{{ recipient.name }}
		</button>
		<button class="tab-stop"
			[attr.aria-hidden]="showOptionList ? false : true"
			[tabindex]="showOptionList ? 0 : -1">
		</button>
	</section>
</ng-template>