:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 44px;

  background-color: #ffc0cb;
  /**
  * Prevents the header from going below 44px.
  */
  flex-shrink: 0;
}
