<section class="input-container" #select>
    <input type="text" readonly
        [ngClass]="{ 'options-open' : showOptionList }"
        [placeholder]="disableInput ? disabledOption : placeholder"
        [disabled]="disableInput"
        [value]="selected ? selected.name : getDefaultSelection()"
        (click)="showHideOptions()"
        (keydown)="onKeydownEvent($event)"/>
    <section *ngIf="showOptionList"
        class="options"
        [ngClass]="{ 'show' : showOptionList }">
        <button *ngFor="let option of options; let i = index"
            type="button"
            class="option focus-option"
            [tabindex]="showOptionList ? 0 : -1"
            [attr.aria-hidden]="showOptionList ? false : true"
            [ngClass]="{ 'selected' : option.selected, 'focus-origin' : i === 0 }"
            (click)="selectOption(option)">
            {{ option.name }}
            <i class="fa fa-heart sm-spacer" aria-hidden="true"></i>
        </button>
        <button class="tab-stop"
            [tabindex]="showOptionList ? 0 : -1"
            [attr.aria-hidden]="showOptionList ? false : true">
        </button>
    </section>
</section>
