.action {
  background: none;
  border: none;

  /* Min allowed touch area. */
  height: 44px;
  width: 44px;
}

.action-icon {
  color: pink;
  font-size: 1.8rem;
}

.action-icon.enabled {
  color: #dd2e44;
}
