.ml-action {
  background: none;
  border: none;

  /* Min allowed touch area. */
  height: 44px;
  width: 44px;
}

.ml-action__icon {
  color: pink;
  font-size: 1.5rem;
}

.ml-action__icon.enabled {
  color: #dd2e44;
}
