:host {
  background-color: white;
  display: flex;
  width: 200px;
}

.menu-list {
  list-style: none;
  overflow-y: scroll;
  padding: 0;
  width: 100%;
}

.menu-list.top-nav {
  margin-top: 44px;
}

.menu-list_item {
  display: flex;
  flex-direction: column;
  min-height: 44px;
}

.menu-list_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

.menu-list_link:hover,
.menu-list_link:active,
.menu-list_link:focus,
.menu-list_link:focus-within {
  background-color: pink;
}
