:host {
  background-color: #f9eeee;
  display: flex;
  flex-direction: column;
  width: 200px;
}

nav {
  display: flex;
  height: 44px;

  position: absolute;
  right: 0;
}

.menu-list {
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  width: 100%;

  animation: expand 0.25s ease-in-out;
}

@keyframes expand {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu-list.top-nav {
  margin-top: 44px;
}

.menu-list_item {
  display: flex;
  flex-direction: column;
  min-height: 44px;
}

.menu-list_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

.menu-list_link:hover,
.menu-list_link:active,
.menu-list_link:focus,
.menu-list_link:focus-within {
  background-color: pink;
}
