<nav *ngIf="lvl === 0">
    <button class="menu-button app-btn"
        (click)="toggleMenu()">
        <img src="./assets/images/nav.svg">
    </button>
</nav>
<ul class="menu-list"
    [class.top-nav]="lvl === 0">
    <li *ngFor="let item of menu"
		class="menu-list_item">
        <span class="menu-list_link"
            [style.paddingLeft.px]="padding"
            (click)="onMenuClick(item)">
            <a>{{ item }}</a>
            <li-direction *ngIf="menuItems[item].subMenu"
                [expanded]="menuItems[item].expanded">
            </li-direction>
        </span>
        <ml-menu *ngIf="menuItems[item].subMenu && menuItems[item].expanded"
            [level]="lvl + 1" 
            [menu]="menuItems[item].subMenuList"
            [menuItems]="menuItems[item].subMenu">
        </ml-menu>
    </li>
</ul>