:host {
    height: 100%;
    max-width: 950px;
    overflow: hidden;
    width: 100%;
}

.home-container {
	display: grid;
    grid-column-gap: 8px;
	grid-row-gap: 8px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 100%;
	max-width: 100%;
}