	<section #select 
		class="input-container">
		<input type="text" readonly
			placeholder="Sort By"
			[ngClass]="{ 'options-open' : showOptionList }"
			[value]="selectedSort?.displayName"
			(click)="showHideOptions()"
			(keydown)="onKeydownEvent($event)"/>
		<section *ngIf="showOptionList"
			class="options"
			[ngClass]="{ 'show' : showOptionList }">
			<button *ngFor="let sort of list; let i = index"
				class="option focus-option"
				type="button"
				[attr.aria-hidden]="showOptionList ? false : true"
				[ngClass]="{ 'selected' : sort.fieldName === selectedSort?.fieldName, 'focus-origin' : i === 0 }"
				[tabindex]="showOptionList ? 0 : -1"
				(click)="selectOption(sort)">
				{{ sort.displayName }}
			</button>
			<button class="tab-stop"
				[attr.aria-hidden]="showOptionList ? false : true"
				[tabindex]="showOptionList ? 0 : -1">
			</button>
		</section>
	</section>
