<form [formGroup]="form">
	<section class="input-container" #select>
		<fieldset class="condensed multi">
			<input class="narrow" type="text" readonly
			[ngClass]="{ 'options-open' : showOptionList }"
			formControlName="countryCode"
			placeholder="Code"
			(click)="showHideOptions()"
			(keydown)="onKeydownEvent($event)"/>
			<app-decorator ariaLabel="Dial Code Selector"
				iconClasses="icon-small"
				[icon]="icon.Down">
			</app-decorator>
			<input type="number"
				formControlName="number"
				placeholder="Number">
		</fieldset>
		<div class="input-error" *ngIf="submitted && form.errors">  
			<span *ngIf="form.errors?.missingPhone">
				Please enter a phone number.
			</span>
			<span *ngIf="form.errors?.invalidPhone">
				Please enter a valid phone number.
			</span>
		</div>
		<section *ngIf="showOptionList"
			class="options"
			[ngClass]="{ 'show' : showOptionList }">
			<button *ngFor="let country of countries; let i = index"
				type="button"
				class="option focus-option"
				[tabindex]="showOptionList ? 0 : -1"
				[attr.aria-hidden]="showOptionList ? false : true"
				[ngClass]="{ 'selected' : this.form.get('phone.countryCode')?.value === country.code, 'focus-origin' : i === 0 }"
				(click)="selectOption(country[2])">
				{{ country[0] }}
			</button>
			<button class="tab-stop"
				[tabindex]="showOptionList ? 0 : -1"
				[attr.aria-hidden]="showOptionList ? false : true">
			</button>
		</section>
	</section>
</form>
