<section class="form-container">
    <form class="event-form"
        [formGroup]="taskForm"
        (ngSubmit)="onSubmit()">
		<app-heading text="Task Details"
			[level]="headerLevel.H2">
		</app-heading>
        <span class="form-instructions">Provide details about the task.</span>
		<fieldset class="task-details">
            <input formControlName="name"
                placeholder="Task"
				type="text"/>
            <div *ngIf="submitted && taskFormControl.name.errors"
				class="input-error">
                    <span *ngIf="taskFormControl.name.errors?.required">
                        Task name is required.
                    </span>
                    <span *ngIf="taskFormControl.name.errors?.minlength">
                        Please enter a longer task name.
                    </span>
					<span *ngIf="taskFormControl.name.errors?.maxlength">
						Task name should not exceed {{ limit.Task.max }} characters.
					</span>
            </div> 
        </fieldset>
		<app-recurrence-select appFocus
			[form]="taskForm.controls.recurrence"
			[submitted]="submitted">
		</app-recurrence-select>
		<app-status-select appFocus
			[form]="taskForm.controls.status"
			[submitted]="submitted">
		</app-status-select>
		<fieldset class="due-date">
			<app-heading text="Due Date"
				[level]="headerLevel.H3">
				<span class="event-form__optional" post>Optional</span>
            </app-heading>
			<span class="form-instructions"
				for="event-description">Choose due date and time.</span>
			<app-datepicker appFocus 
				class="datepicker-container"
				controlName="day"
				fieldName="Due date"
				placeholder="Due Date"
				[calendarType]="calendarType"
				[form]="taskForm.controls.dueDate"
				[submitted]="submitted"
				[topic]="topic">
			</app-datepicker>	
			<input readonly
				aria-label="Due Time"
				formControlName="dueTime" 
				placeholder="Due Time"
                [ngxTimepicker]="startDial"/>
            <ngx-material-timepicker #startDial
				[appendToInput]="true"
				[theme]="timePickerTheme"
				(timeChanged)="onDueTimeChanged($event)">
			</ngx-material-timepicker>
		</fieldset>
		<app-description controlName="description"
			formInstructions="Enter a description of the task."
			[form]="taskForm"
			[submitted]="submitted">
		</app-description>
        <fieldset class="form-actions">
            <button class="cancel"
				type="button"
                (click)="onCancel()">
                Cancel
            </button>        
            <button type="submit">
                {{ taskConfig.buttonAction }}
            </button>
        </fieldset>
    </form>
</section>