<form #picker [formGroup]="birthdayForm"
    class="input-container focus-origin">
        <input readonly type="text"
            [ngClass]="{ 'picker-open' : showCal }"
            [placeholder]="placeholder"
            [value]="birthdayForm.controls.birthday.value | pickerDateFormatter"
            (click)="showHideCal()"
            (keydown)="onKeydownEvent($event)"/>
        <div class="input-error" *ngIf="!birthdayForm.valid && submitted">
            <span *ngIf="!selectedDate">
                Date is required.
            </span>
        </div> 
    <section class="cal-container" *ngIf="showCal">
        <app-loader *ngIf="isLoading"></app-loader>
        <app-calendar #calendar appFocus
            *ngIf="!isLoading && cal"
            [id]="calendarId" 
            [calendar]="cal" 
            [type]="calendarType"
            [selectedDay]="birthdayForm.controls.birthday.value"
            (onDateSelected)="selectDate($event)">
        </app-calendar>
        <app-no-results 
            *ngIf="!isLoading && !cal" 
            [message]="noCalMessage">
        </app-no-results>
    </section>
</form>