.input-container {
    display: flex;
    position: relative;
}

input.picker-open {
    border-bottom: 0;
}

.cal-container {
    position: absolute;
    z-index: 500;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;

    background: white;
    border: 2px solid pink;
    border-top: none;
    padding: 12px;
    top: 37px;
}

@media only screen and (max-width: 500px) {
    .cal-container {
        padding: 8px;
    }
}