<app-heading [level]="headerLevel.H1" [text]="header"></app-heading>

<section *ngIf="list && list.length > 0"
	class="task-list__scrollable-container hide-scrollbar">
	<section class="task-list__scrollable-list">
		<ul class="task-list">
			<li class="task-list__item" *ngFor="let birthday of list">
				<ng-container [ngTemplateOutlet]="birthdayList" 
					[ngTemplateOutletContext]="{ 'birthday': birthday }">
				</ng-container>   
			</li>
		</ul>
	</section>	
</section>

<section class="no-results flex-centered__column"
    *ngIf="list && list.length === 0">
    <app-no-items [config]="noItemsConfig"></app-no-items>
</section>

<ng-template #birthdayList let-birthday="birthday">
	<section class="task-list__photo-container">
		<img *ngIf="birthday.image" class="task-list__item-photo" src="{{ base64Prefix }}{{ birthday.image }}"/>
		<img *ngIf="!birthday.image" class="task-list__item-photo" src="./assets/images/cake.png"/>
	</section>
	<section class="task-list__item-info form-container flex-centered__column flex-stretch">
		<app-heading [level]="headerLevel.H2" [text]="birthday.name">
			<section class="actions edit-actions" post>
				<app-action ariaLabel="Edit"
					[enabled]="true"
					[icon]="icon.Edit"
					(actionSelected)="editBirthday(birthday)">
				</app-action>
				<app-action ariaLabel="Delete"
					[enabled]="true"
					[icon]="icon.Delete"
					(actionSelected)="onDeleteClicked(birthday.uuid)">
				</app-action>
			</section>
		</app-heading>
		<section class="task-list__birthday-container">
			<ng-container *ngIf="!birthday.lunar">
				<section class="task-list__birthday-status">
					<p class="task-list__birthday">
						<app-decorator ariaLabel="Birthday"
							[icon]="icon.Birthday">
						</app-decorator>
						{{ birthday.month }}/{{ birthday.date }}
					</p>
				</section>
			</ng-container>
			<ng-container *ngIf="birthday.lunar">
				<section class="task-list__birthday-status">
					<p class="task-list__birthday">
						<app-decorator ariaLabel="Solar"
							[icon]="icon.Solar">
						</app-decorator>
						{{ birthday.month }}/{{ birthday.date }}/{{ birthday.year }}
					</p>
					<p class="task-list__birthday">
						<app-decorator ariaLabel="Lunar"
							[icon]="icon.Lunar">
						</app-decorator>
						{{ birthday.cmonth }}/{{ birthday.cdate }}/{{ birthday.year }} 
					</p>
				</section>
			</ng-container>
		</section>
		<section class="actions birthday-actions">
			<section>
				<app-action ariaLabel="Call"
					[enabled]="birthday.call"
					[icon]="icon.Call">
				</app-action>
				<app-action ariaLabel="Text"
					[enabled]="birthday.text"
					[icon]="icon.Text">
				</app-action>
				<app-action ariaLabel="Gift"
					[enabled]="birthday.gift"
					[icon]="icon.Gift">
				</app-action>
			</section>
			<app-date-indicator post [status]="birthday.status"></app-date-indicator>
		</section>
	</section>
</ng-template>