:host {
	background: white;
	display: grid;
	grid-template-rows: 44px 1fr;
	height: 100%;
	overflow: hidden;
	padding: 16px;
}

.task-list__birthday-container {
	align-items: center;
	border-left: 4px solid pink;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.task-list__birthday-status {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.task-list__birthday {
	align-items: center;
	display: flex;
	margin-right: 8px;
}

.task-action:not(:last-child) {
  	margin-right: 8px;
}

.task-list__header-info {
  	display: flex;
}

.task-list__photo-container {
	display: flex;
	justify-content: center;
	margin-right: 16px;
	width: 25%;
}

.task-list__item-photo {
	max-height: 100px;
	max-width: 100%;
}

.actions {
	display: flex;
	flex: 1;
	margin: 8px 0;
}

.edit-actions {
	border-right: 4px solid pink;
	justify-content: flex-end;
}

.recipient-actions {
	border-left: 4px solid pink;
	justify-content: space-between;
}

@media only screen and (max-width: 500px) {
	:host {
		padding: 4px;
	}

	.task-list__photo-container {
		display: none;
	}
}

span:not(:last-child) {
  	margin-right: 8px;
}

button:not(:last-child) {
 	 margin-right: 16px;
}
