.birthday-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.birthday-list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.birthday-list__item:not(:last-child) {
  border-bottom: 1px solid pink;
}

.actions {
  margin: 8px 0;
}

.birthday-action {
  color: pink;
  font-size: 1.5rem;
}

.birthday-action.enabled {
    color: #dd2e44;
}

.birthday-action:not(:last-child) {
    margin-right: 8px;
}

.birthday-list__item-info {
    width: 100%;
}

.birthday-list__item-photo {
    height: 160px;
    margin: 8px;
}

@media only screen and (max-width: 500px) {
    .birthday-list__item-photo {
        display: none;
    }
}

span:not(:last-child) {
    margin-right: 8px;
}

button:not(:last-child) {
    margin-right: 16px;
}
