:host {
  background: white;
  padding: 16px;

  height: 100%;
  overflow: hidden;

  display: grid;
  grid-template-rows: 44px 1fr;
}

.birthday {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.actions {
  margin: 8px 0;
}

.task-action:not(:last-child) {
  margin-right: 8px;
}

.task-list__header-info {
	display: flex;
}

.task-list__photo-container {
  display: flex;
  justify-content: center;
  margin-right: 16px;
  width: 25%;
}

.task-list__item-photo {
  max-height: 160px;
  max-width: 100%;
}

@media only screen and (max-width: 500px) {
  .task-list__photo-container {
    display: none;
  }
}

span:not(:last-child) {
  margin-right: 8px;
}

button:not(:last-child) {
  margin-right: 16px;
}
