:host {
  max-width: 900px;
  width: 100%;

  background: white;
  border: 1px solid #dd2e44;
}

.event-form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.event-form__optional {
  margin: 8px 0;
}

.instructions {
  margin-bottom: 12px;
}

/**
* Lower the margins so there's more room for the calendar.
*/
@media only screen and (max-width: 500px) {
  .event-form {
    margin: 0;
  }
}
