<section class="form-container">
    <app-header [level]="headerLevel.H1" text="{{ birthdayConfig.action }} Birthday"></app-header>
    <form class="event-form"
        [formGroup]="birthdayForm"
        (ngSubmit)="onSubmit()">
        <span class="instructions">Please enter a name and select a birthdate.</span>
        <fieldset class="name">
            <input type="text" 
                formControlName="name"
                placeholder="Name"/>
            <div class="input-error" *ngIf="!birthdayFormControl.valid && this.submitted">
                    <span *ngIf="birthdayFormControl.name.errors?.required">
                        Name is required.
                    </span>
                    <span *ngIf="birthdayFormControl.name.errors?.minlength || birthdayFormControl.name.errors?.invalidName">
                        Please enter a valid name.
                    </span>
            </div> 
            <app-datepicker appFocus 
                class="datepicker-container"
                placeholder="Date"
                [birthdayForm]="birthdayForm.controls.date"
                [calendarType]="calendarType"
                [submitted]="submitted">
            </app-datepicker>
            <app-checkbox 
                id="action-lunar"
                name="Lunar"
                checkboxName="lunar"
                [form]="birthdayForm.controls.options">
            </app-checkbox>
        </fieldset>
        <fieldset>
            <app-header [level]="headerLevel.H3" text="Select Image">
                <span class="event-form__optional" post>Optional</span>
            </app-header>
            <app-img-upload></app-img-upload>
        </fieldset>
        <fieldset class="event-options">
            <app-header [level]="headerLevel.H3" text="Actions">
                <span class="event-form__optional" post>Optional</span>
            </app-header>
            <app-checkbox
                name="Call"
                [checkboxName]="birthdayID.call"
                [form]="birthdayForm.controls.options">
            </app-checkbox>
            <app-checkbox
                name="Text"
                [checkboxName]="birthdayID.text"
                [form]="birthdayForm.controls.options">
            </app-checkbox>
            <app-checkbox
                name="Buy Present"
                [checkboxName]="birthdayID.gift"
                [form]="birthdayForm.controls.options">
            </app-checkbox>
        </fieldset>
        <fieldset class="form-actions">
            <button *ngIf="birthdayConfig.action === birthdayAction.Edit"
                type="button"
                class="cancel"
                (click)="onCancel()">
                Cancel
            </button>        
            <button type="submit">
                {{ birthdayConfig.buttonAction }}
            </button>
        </fieldset>
    </form>
</section>