:host {
  max-width: 700px;
  width: 100%;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
}

fieldset.form-actions {
  flex-direction: row;
}

.event-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.instructions {
  margin-bottom: 12px;
}

/**
* Lower the margins so there's more room for the calendar.
*/
@media only screen and (max-width: 500px) {
  .event-form {
    margin: 0;
  }
}