:host {
  max-width: 900px;
  width: 100%;

  background: white;
  border: 1px solid #dd2e44;
}

/**
* Lower the margins so there's more room for the calendar.
*/
@media only screen and (max-width: 500px) {
  .event-form {
    margin: 0;
  }
}
