.condensed {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

	margin-bottom: 8px;
}

.condensed input {
	margin: 0;
}

.condensed input:not(:last-of-type) {
	margin-right: 8px;
}

@media only screen and (max-width: 500px) {
	.condensed {
		flex-direction: column;
		margin: 0;
	}

	.condensed input {
		margin: 0;
		margin-bottom: 8px;
	}

	.condensed input:not(:last-of-type) {
		margin-right: 0;
	}
}