<form #picker [formGroup]="form"
    class="input-container focus-origin">
	<fieldset>
		<input type="text" 
			formControlName="street"
			placeholder="Street Address"/>
		<fieldset class="condensed">
			<input type="text" 
				formControlName="unit"
				placeholder="Apartment Number"/>
			<input type="text" 
				formControlName="city"
				placeholder="City"/>
		</fieldset>
		<!-- Some countries use alphanumeric zip codes. -->
		<fieldset class="condensed">
			<input type="text"
			formControlName="state"
			placeholder="State / Province / Region"/>
			<input type="text"
				formControlName="zip"
				placeholder="Zip Code"/>
		</fieldset>
		<country-select [options]="countries"
			[form]="form"
			placeholder="Country"
			selected="United States"></country-select>
	</fieldset>
</form>