<form #picker [formGroup]="form"
    class="input-container focus-origin">
	<fieldset>
		<input type="text" 
			formControlName="street"
			placeholder="Street Address"/>
		<input type="text" 
			formControlName="unit"
			placeholder="Apartment Number"/>
		<!-- Some countries use alphanumeric zip codes. -->
		<fieldset class="condensed">
			<input type="text"
			formControlName="state"
			placeholder="State / Region"/>
			<input type="text"
				formControlName="zip"
				placeholder="Zip Code"/>
		</fieldset>
		<app-select [options]="countries"
			placeholder="Country"
			selected="United States"></app-select>
	</fieldset>
</form>