<section class="form-container">
    <form class="event-form"
        [formGroup]="meetingForm"
        (ngSubmit)="onSubmit()">
		<app-heading [level]="headerLevel.H2" text="Meeting Details"></app-heading>
        <span class="form-instructions">Provide details about the meeting.</span>
		<fieldset class="name">
            <input type="text" 
                formControlName="name"
                placeholder="Event Name"/>
            <div class="input-error" *ngIf="!meetingFormControl.valid && this.submitted">
                    <span *ngIf="meetingFormControl.name.errors?.required">
                        Name is required.
                    </span>
                    <span *ngIf="meetingFormControl.name.errors?.minlength">
                        Please enter a longer name.
                    </span>
					<span *ngIf="meetingFormControl.name.errors?.maxlength">
						Name should not exceed {{ maxChars }} characters.
					</span>
            </div> 
        </fieldset>
		<fieldset class="location">
            <input type="text" 
                formControlName="location"
                placeholder="Location"/>
			<div class="input-error" *ngIf="!meetingFormControl.valid && this.submitted">
				<span *ngIf="meetingFormControl.location.errors?.required">
					Location is required.
				</span>
				<span *ngIf="meetingFormControl.location.errors?.maxlength">
					Location should not exceed {{ maxChars }} characters.
				</span>
			</div> 
			<app-checkbox 
				id="action-virtual"
				name="Virtual"
				checkboxName="virtual"
				[form]="meetingForm.controls.options">
			</app-checkbox>
		</fieldset>
		<fieldset class="start-date">
			<app-heading [level]="headerLevel.H3" text="Start Date">
            </app-heading>
			<span for="event-description" class="form-instructions">Choose start date and time.</span>
			<app-datepicker appFocus 
				class="datepicker-container"
				controlName="day"
				placeholder="Start Date"
				fieldName="Start date"
				[calendarType]="calendarType"
				[form]="meetingForm.controls.startDate"
				[submitted]="submitted">
			</app-datepicker>
			<div class="input-error" *ngIf="!meetingFormControl.valid && this.submitted">
				<span *ngIf="meetingForm.errors?.startDateAfterEnd">
					Start date must be before end date.
				</span>
            </div> 	
			<input formControlName="startTime" 
				placeholder="Start Time"
				aria-label="Start Time"
                [ngxTimepicker]="startDial" readonly>
            <ngx-material-timepicker #startDial
				[appendToInput]="true"
				[theme]="timePickerTheme"
				(timeChanged)="onStartTimeChanged($event)">
			</ngx-material-timepicker>
			<div class="input-error" *ngIf="!meetingFormControl.valid && this.submitted">
                <span *ngIf="meetingFormControl.startTime.errors?.required">
                    Start time is required.
                </span>
            </div> 	
		</fieldset>
		<fieldset class="end-date">
			<app-heading [level]="headerLevel.H3" text="End Date">
            </app-heading>
			<span for="event-description" class="form-instructions">Choose end date and time.</span>
			<app-datepicker appFocus 
				class="datepicker-container"
				controlName="day"
				placeholder="End Date"
				fieldName="End date"
				[calendarType]="calendarType"
				[form]="meetingForm.controls.endDate"
				[submitted]="submitted">
			</app-datepicker>
			<input formControlName="endTime"
				placeholder="End Time"
				aria-label="End Time"
                [ngxTimepicker]="endDial" readonly>
            <ngx-material-timepicker #endDial
				[appendToInput]="true"
				[theme]="timePickerTheme"
				(timeChanged)="onEndTimeChanged($event)">
			</ngx-material-timepicker>
			<div class="input-error" *ngIf="!meetingFormControl.valid && this.submitted">
				<span *ngIf="meetingFormControl.endTime.errors?.required">
					End time is required.
				</span>
				<span *ngIf="meetingForm.errors?.startTimeAfterEnd">
					End time must be after start time.
				</span>
			</div> 	
		</fieldset>
		<fieldset class="description">
			<app-heading [level]="headerLevel.H3" text="Additional Details">
                <span class="event-form__optional" post>Optional</span>
            </app-heading>
			<span for="event-description" class="form-instructions">Add additional information about the meeting.</span>
            <textarea id="event-description"
				rows="5"
                formControlName="description"
                placeholder="Description"></textarea>
			Max {{ maxChars }} characters.
			<div class="input-error" *ngIf="!meetingFormControl.valid && this.submitted">
				<span *ngIf="meetingFormControl.description.errors?.maxlength">
					Description should not exceed {{ maxDescription }} characters.
				</span>
			</div> 
		</fieldset>
        <fieldset class="form-actions">
            <button *ngIf="meetingConfig.action === meetingAction.Edit"
                type="button"
                class="cancel"
                (click)="onCancel()">
                Cancel
            </button>        
            <button type="submit">
                {{ meetingConfig.buttonAction }}
            </button>
        </fieldset>
    </form>
</section>