/* The ml-checkbox */
.ml-checkbox {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 2px 10px;
  padding-left: 25px;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

/* Hide the browser's default checkbox */
.ml-checkbox input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

/* Create a custom checkbox */
.ml-checkbox__checkmark {
  background-color: #f9eeee;
  border: 2px solid pink;
  left: 0;
  height: 15px;
  position: absolute;
  top: 4px;
  width: 15px;
}

@media (min-width: 400px) {
  .ml-checkbox {
    padding-left: 22px;
  }
}

/* On mouse-over, add a grey background color */
.ml-checkbox:hover input ~ .ml-checkbox__checkmark {
  background-color: #f9eeee;
}

/* When the checkbox is checked, add a background */
.ml-checkbox input:checked ~ .ml-checkbox__checkmark {
  background-color: #f9eeee;
}

/* Create the ml-checkbox__checkmark/indicator (hidden when not checked) */
.ml-checkbox__checkmark:after {
  content: "";
  display: none;
  position: absolute;
}

/* Show the ml-checkbox__checkmark when checked */
.ml-checkbox input:checked ~ .ml-checkbox__checkmark:after {
  display: block;
}

/* Style the ml-checkbox__checkmark/indicator */
.ml-checkbox .ml-checkbox__checkmark:after {
  border: solid #dd2e44;
  border-width: 0 3px 3px 0;
  height: 7px;
  left: 3px;
  transform: rotate(45deg);
  top: 0px;
  width: 2px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
