<section class="form-container">
    <app-heading text="User Settings"
		[level]="headerLevel.H1" >
	</app-heading>
    <form [formGroup]="settingsForm"
        (ngSubmit)="onSubmit()">
        <fieldset class="notification-channels">
            <app-heading text="Channels"
				[level]="headerLevel.H3">
                <span post class="event-form__optional">Optional</span>
            </app-heading>
            <span class="form-instructions">Select the channels where you would like to receive upcoming reminders.</span>
            <app-checkbox
                name="Email"
                [checkboxName]="channel.email"
                [form]="settingsForm.controls.channels"
				(valueChanged)="setChannelValidationStatus(channel.email, $event)">
            </app-checkbox>
            <fieldset *ngIf="isChannelChecked(channel.email)"
				class="email">
                <input formControlName="email"
                    placeholder="Email"
					type="email"/>
                <div *ngIf="submitted && validateChannel[channel.email]"
					class="input-error">
                        <span *ngIf="settingsFormControl.email.errors?.missingEmail">
                            Please enter an email address.
                        </span>    
                        <span *ngIf="settingsFormControl.email.errors?.invalidEmail">
                            Please enter a valid email address.
                        </span>
                </div>
            </fieldset>
            <app-checkbox
                name="Text Message"
                [checkboxName]="channel.text"
                [form]="settingsForm.controls.channels"
				(valueChanged)="setChannelValidationStatus(channel.text, $event)">
            </app-checkbox>
            <fieldset *ngIf="isChannelChecked(channel.text)"
				class="phone">
				<app-phone-select appFocus
					[form]="settingsForm.controls.phone"
					[submitted]="submitted">
				</app-phone-select>
            </fieldset>
        </fieldset>
		<fieldset class="notification-options">
            <app-heading text="Reminders"
				[level]="headerLevel.H3">
                <span post class="event-form__optional">Optional</span>
            </app-heading>
            <span class="form-instructions">Select the events and tasks you would like to receive reminders for.</span>
			<app-checkbox
                [name]="topic.Birthdays"
                [checkboxName]="topic.Birthdays"
                [form]="settingsForm.controls.tasks">
            </app-checkbox>
			<app-checkbox
                [name]="topic.Meetings"
                [checkboxName]="topic.Meetings"
                [form]="settingsForm.controls.tasks">
            </app-checkbox>
        </fieldset>
        <fieldset class="form-actions">  
            <button type="submit">
                Update
            </button>
        </fieldset>
    </form>
</section>
