<section class="form-container">
    <app-heading [level]="headerLevel.H1" text="User Settings"></app-heading>
    <form [formGroup]="settingsForm"
        (ngSubmit)="onSubmit()">
        <fieldset class="event-options">
            <app-heading [level]="headerLevel.H3" text="Birthday Reminders">
                <span class="event-form__optional" post>Optional</span>
            </app-heading>
            <span class="form-instructions">Select the channels where you would like to receive upcoming birthday reminders.</span>
            <app-checkbox
                name="Email"
                [checkboxName]="channel.email"
                [form]="settingsForm.controls.channels">
            </app-checkbox>
            <fieldset class="email" *ngIf="isChannelChecked(channel.email)">
                <input type="email" 
                    formControlName="email"
                    placeholder="Email"/>
                <div class="input-error" *ngIf="!settingsFormControl.valid && this.submitted">
                        <span *ngIf="settingsFormControl.email.errors?.missingEmail">
                            Please enter an email address.
                        </span>    
                        <span *ngIf="settingsFormControl.email.errors?.invalidEmail">
                            Please enter a valid email address.
                        </span>
                </div>
            </fieldset>
            <app-checkbox
                name="Text Message"
                [checkboxName]="channel.text"
                [form]="settingsForm.controls.channels">
            </app-checkbox>
            <fieldset class="phone" *ngIf="isChannelChecked(channel.text)">
                <input type="text" 
                    formControlName="phone"
                    placeholder="Phone Number"/>
                <div class="input-error" *ngIf="!settingsFormControl.valid && this.submitted">
                        <span *ngIf="settingsFormControl.phone.errors?.missingPhone">
                            Please enter a phone number.
                        </span>    
                        <span *ngIf="settingsFormControl.phone.errors?.invalidPhone">
                            Please enter a valid phone number.
                        </span>
                </div>
            </fieldset>
        </fieldset>
        <fieldset class="form-actions">  
            <button type="submit">
                Update
            </button>
        </fieldset>
    </form>
</section>
