<form [formGroup]="form">
	<section #select class="ml-select">
		<input readonly
			class="selected-status"
			type="text" 
			placeholder="Select Status"
			[ngClass]="{ 'ml-select__options--open' : showOptionList }"
			[value]="selected"
			(click)="showHideOptions()"
			(keydown)="onKeydownEvent($event)"/>
		<section *ngIf="showOptionList"
			class="ml-select__options"
			[ngClass]="{ 'show' : showOptionList }">
			<button *ngFor="let key of statusKeys; let i = index"
				class="ml-select__option ml--focus"	
				type="button"
				[attr.aria-hidden]="showOptionList ? false : true"
				[ngClass]="{ 'selected' : status[key] === selected, 'focus-origin' : i === 0 }"
				[tabindex]="showOptionList ? 0 : -1"
				(click)="selectOption(status[key])">
				{{ status[key] }}
			</button>
			<button class="tab-stop"
				[attr.aria-hidden]="showOptionList ? false : true"
				[tabindex]="showOptionList ? 0 : -1">
			</button>
		</section>
		<div *ngIf="submitted && statusForm?.errors"
			class="input-error">
			<p *ngIf="statusForm?.errors?.required">
				Status is required.
			</p>
		</div> 
	</section>
</form>
