<form [formGroup]="form">
	<section class="input-container" #select>
		<input type="text" readonly
			[ngClass]="{ 'options-open' : showOptionList }"
			placeholder="Select Occasion"
			[value]="form.get('occasion')?.value?.recipient?.name"
			(click)="showHideOptions()"
			(keydown)="onKeydownEvent($event)"/>
		<section *ngIf="showOptionList"
			class="options"
			[ngClass]="{ 'show' : showOptionList }">
			<button *ngFor="let recipient of list; let i = index"
				type="button"
				class="option focus-option"
				[tabindex]="showOptionList ? 0 : -1"
				[attr.aria-hidden]="showOptionList ? false : true"
				[ngClass]="{ 'selected' : form.get('occasion')?.value?.recipient?.uuid === recipient.uuid, 'focus-origin' : i === 0 }"
				(click)="selectOption(recipient)">
				{{ recipient.name }}
			</button>
			<button class="tab-stop"
				[tabindex]="showOptionList ? 0 : -1"
				[attr.aria-hidden]="showOptionList ? false : true">
			</button>
		</section>
		<div class="input-error" *ngIf="submitted && form.get('occasion')?.errors">
			<span *ngIf="form.get('occasion')?.errors?.required">
				Occasion is required.
			</span>
		</div> 
	</section>
</form>
