<form [formGroup]="form">
	<section #select class="input-container">
		<input readonly
			type="text" 
			placeholder="Select Occasion"
			[ngClass]="{ 'options-open' : showOptionList }"
			[value]="occasions[occasionForm?.value] || ''"
			(click)="showHideOptions()"
			(keydown)="onKeydownEvent($event)"/>
		<section *ngIf="showOptionList"
			class="options"
			[ngClass]="{ 'show' : showOptionList }">
			<button *ngFor="let occasion of occasionKeys; let i = index"
				class="option focus-option"	
				type="button"
				[attr.aria-hidden]="showOptionList ? false : true"
				[ngClass]="{ 'selected' : occasionForm?.value === occasion, 'focus-origin' : i === 0 }"
				[tabindex]="showOptionList ? 0 : -1"
				(click)="selectOption(occasion)">
				{{ occasions[occasion] }}
			</button>
			<button class="tab-stop"
				[attr.aria-hidden]="showOptionList ? false : true"
				[tabindex]="showOptionList ? 0 : -1">
			</button>
		</section>
		<div *ngIf="submitted && occasionForm?.errors"
			class="input-error">
			<span *ngIf="occasionForm?.errors?.required">
				Occasion is required.
			</span>
		</div> 
	</section>
</form>
