<div class="wrapper" [formGroup]="form">
	<ngx-intl-tel-input #phoneInput
		cssClass="phone-input__container"
		[preferredCountries]="preferredCountries"
		[enableAutoCountrySelect]="true"
		[enablePlaceholder]="true"
		[searchCountryFlag]="false"
		[searchCountryField]="searchCountryFields"
		[selectFirstCountry]="true"
		[selectedCountryISO]="startingCountry"
		[maxLength]="15"
		[phoneValidation]="false" 
		[separateDialCode]="true"
		[numberFormat]="phoneNumberFormat.International"
		name="phone" 
		formControlName="phone">
	</ngx-intl-tel-input>
</div>