<table *ngIf="month" class="ml-calendar__month">
    <tr *ngFor="let week of month.weeks" class="ml-calendar__week">
        <td *ngFor="let day of week.days"
			class="ml-calendar__day ml--focus"
			id="{{month.year}}-{{month.value}}-{{day.value}}"
            [attr.aria-hidden]="isSelectableDate(day) ? false : true"
            [class.ml-calendar--disabled] = "!isSelectableDate(day)"
            [class.ml--focus] = "isSelectableDate(day)"
            [class.ml-calendar--selected] = "isSelectedDate(day)"
			[tabindex]="isSelectableDate(day) ? 0 : -1"
            (click)="isSelectableDate(day) ? selectDate(day) : null"
            (keydown)="isSelectableDate(day) ? onDateKeyPress($event, day) : null">
            <ng-container *ngIf="!isSelectableDate(day)"></ng-container>
            <ng-container *ngIf="isSelectableDate(day)">
                <span *ngIf="calType === calendarType.Lunar" class="ml-calendar__lunar-date">{{ day.cmonthname }}</span>
                <span class="ml-calendar__solar-date">
					<span *ngIf="calType === calendarType.Schedule" class="ml-calendar__day-of-week">{{ day | dayOfWeek }}</span>
					{{ day.value }}
				</span>
                <span *ngIf="calType === calendarType.Lunar" class="ml-calendar__lunar-date">
                    {{ day.cmonth }}/{{ day.cdate }}
                </span>
				<ml-calendar-schedule *ngIf="day.schedule && calType === calendarType.Schedule"
					[schedule]="day.schedule">
				</ml-calendar-schedule>
            </ng-container>
        </td>
    </tr>
</table>