<table class="month" *ngIf="month">
    <tr class="week" *ngFor="let week of month.weeks">
        <td class="day focus-option"
            *ngFor="let day of week.days"
            id="{{month.year}}-{{month.value}}-{{day.value}}"
            [attr.aria-hidden]="isSelectableDate(day) ? false : true"
            [tabindex]="isSelectableDate(day) ? 0 : -1"
            [class.disabled] = "!isSelectableDate(day)"
            [class.focus-option] = "isSelectableDate(day)"
            [class.selected] = "selectedDate
                && day.year === selectedDate.year 
                && day.month === selectedDate.month 
                && day.value === selectedDate.value"
            (click)="isSelectableDate(day) ? selectDate(day) : null"
            (keydown)="isSelectableDate(day) ? onDateKeyPress($event, day) : null">
            <ng-container *ngIf="!isSelectableDate(day)"></ng-container>
            <ng-container *ngIf="isSelectableDate(day)">
                <span class="lunar-date" *ngIf="type === calendarType.Lunar">{{ day.cmonthname }}</span>
                <span class="solar-date">{{ day.value }}</span>
                <span class="lunar-date" *ngIf="type === calendarType.Lunar">
                    {{ day.cmonth }}/{{ day.cdate }}
                </span>
            </ng-container>
        </td>
    </tr>
</table>