:host,
.month,
.week {
  display: flex;
  flex: 1;
}

.month {
  flex-direction: column;
  justify-content: space-between;
}

.week {
  justify-content: space-between;
}

.week .day {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 15%;
  padding: 3px;
}

.day:focus {
  outline: none;
}

.day:not(.disabled):focus,
.selected {
  border: 2px solid #dd2e44;
}

.day:not(.disabled):hover,
.selected {
  background-color: pink;
}

.day:not(.disabled):active {
  background-color: #ffd8e5;
}

.solar-date {
  font-size: 14px;
}

.day.disabled,
.disabled .lunar-date {
  color: #9e9e9e;
}

/* Override the standard color so the lunar dates stand out. */
.lunar-date {
  font-size: 9px;
  color: #e91e63;
}
