.app-container {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* height - header - footer - safe area top - safe area bottom */
  height: calc(
    100% - 88px - env(safe-area-inset-top) - env(safe-area-inset-bottom)
  );
  justify-content: center;
  overflow: hidden;
  padding: 16px;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .app-container {
    padding: 8px;
  }
}
