:host {
	background: white;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	padding: 16px;
	width: 100%;
}

.task-list__selectors {
	align-items: center;
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.task-list__selectors > * {
	width: 100%;
}

.task-list__selectors > *:first-child {
	margin-right: 8px;
}
  
.task-details__wrapper {
	display: flex;
	justify-content: space-between;
}
  
@media only screen and (max-width: 500px) {
	.task-details__wrapper {
		flex-direction: column;
		margin-bottom: 8px;
	}

	.task-list__selectors {
		flex-direction: column;
	}

	.task-list__selectors > *:first-child {
		margin-right: 0;
	}
}
  
.task-details__label {
	font-weight: bold;
	margin-right: 8px;
}
  
.task-details__description {
	word-wrap: break-word;
}  

.task-action:not(:last-child) {
  	margin-right: 8px;
}

.task-list__header-info {
  	display: flex;
}

.task-list__photo-container {
  	display: flex;
  	justify-content: center;
  	margin-left: 16px;
  	width: 25%;
}

.task-list__item-photo {
 	max-height: 100px;
  	max-width: 100%;
}

.actions {
  	display: flex;
  	flex: 1;
  	margin: 8px 0;
}

.edit-actions {
  	border-right: 4px solid pink;
  	justify-content: flex-end;
}

@media only screen and (max-width: 500px) {
	:host {
		padding: 4px;
	}

	.task-list__photo-container {
		display: none;
	}
}

span:not(:last-child) {
	margin-right: 8px;
}

button:not(:last-child) {
	margin-right: 16px;
}
