<ml-heading [level]="headerLevel.H1" 
	[text]="header">
</ml-heading>
<section class="task-list__selectors">
	<ml-sort-select mlFocus
		[list]="giftSortOptions"
		(sortSelected)="sortSelected($event)">
	</ml-sort-select>
	<ml-recipient-filter mlFocus
		[list]="recipients"
		(filterReset)="resetRecipientFilter()"
		(recipientSelected)="filterByRecipient($event)">
	</ml-recipient-filter>
</section>

<section *ngIf="list$ | async as list" class="task-container--scrollable hide-scrollbar">
	<section *ngIf="list && list.length > 0" 
		class="task-list--scrollable">
		<ul class="task-list">
			<li *ngFor="let gift of list"
				class="task-list__item">
				<ng-container [ngTemplateOutlet]="giftList" 
					[ngTemplateOutletContext]="{ 'gift': gift }">
				</ng-container>   
			</li>
		</ul>
	</section>
	<section *ngIf="list && list.length === 0"
		class="no-results flex-column--centered">
    <ml-no-items [config]="noItemsConfig"></ml-no-items>
</section>
</section>

<ng-template #giftList let-gift="gift">
	<section class="task-list__info form-container flex-column--centered flex-stretch">
		<ml-heading [level]="headerLevel.H2"
			[text]="gift.recipient?.name">
			<section post class="actions edit-actions">
				<ml-action ariaLabel="Edit"
					[enabled]="true"
					[icon]="icon.Edit"
					(actionSelected)="editGift(gift)">
				</ml-action>
				<ml-action ariaLabel="Delete"
					[enabled]="true"
					[icon]="icon.Delete"
					(actionSelected)="onDeleteClicked(recipient.uuid)">
				</ml-action>
			</section>
		</ml-heading>
		<p class="task-details__wrapper">
			<span class="task-details__label">{{ gift.occasion }} - {{ gift.year }}</span>
			<span class="task-details__description">${{ gift.price || 0 }}</span>
		</p>
		<p *ngIf="gift.description" 
			class="task-details__wrapper">
			<span class="task-details__description description"
				[innerText]="gift.description">
			</span>
		</p>
	</section>
	<section class="task-list__photo-container">
		<img *ngIf="gift.image"
			class="task-list__item-photo"
			src="{{ base64Prefix }}{{ gift.image }}"/>
		<img *ngIf="!gift.image"
			class="task-list__item-photo"
			src="./assets/images/gift.png"/>
	</section>
</ng-template>