<section *ngIf="list && list.length > 0"
	class="task-list__scrollable-container hide-scrollbar">
	<section class="task-list__scrollable-list">
		<ul class="task-list">
			<li class="task-list__item" *ngFor="let birthday of list">
				<ng-container [ngTemplateOutlet]="birthdayList" 
					[ngTemplateOutletContext]="{ 'birthday': birthday }">
				</ng-container>   
			</li>
		</ul>
	</section>	
</section>

<section class="no-results flex-centered__column"
    *ngIf="list && list.length === 0">
    <app-no-items [config]="noItemsConfig"></app-no-items>
</section>