<section *ngIf="list && list.length > 0"
	class="task-container--scrollable hide-scrollbar">
	<section class="task-list--scrollable">
		<ul class="task-list">
			<li *ngFor="let meeting of list"
				class="task-list__item">
				<ng-container [ngTemplateOutlet]="meetingList" 
					[ngTemplateOutletContext]="{ 'meeting': meeting }">
				</ng-container>   
			</li>
		</ul>
	</section>	
</section>

<section *ngIf="list && list.length === 0"
	class="no-results flex-column--centered">
    <ml-no-items [config]="noItemsConfig"></ml-no-items>
</section>

<ng-template #meetingList let-meeting="meeting">
	<section class="task-list__info form-container flex-column--centered flex-stretch">
		<span class="task-list__badges">
			<ml-meeting-indicator [isVirtual]="meeting.virtual"></ml-meeting-indicator>
			<ml-date-indicator *ngIf="meeting.status"
				[status]="meeting.status">
			</ml-date-indicator>
		</span>
		<ml-heading [level]="headerLevel.H2"
			[text]="meeting.name">
			<section post class="actions edit-actions">
				<ml-action ariaLabel="Edit"
					[enabled]="true"
					[icon]="icon.Edit"
					(actionSelected)="editMeeting(meeting)">
				</ml-action>
				<ml-action ariaLabel="Delete"
					[enabled]="true"
					[icon]="icon.Delete"
					(actionSelected)="onDeleteClicked(meeting.uuid)">
				</ml-action>
			</section>
		</ml-heading>
		<p class="task-details__wrapper">
			<span class="task-details__label">Start</span>
			<span class="task-details__description">{{ meeting | meetingFormatter: true }}</span>
		</p>
		<p class="task-details__wrapper">
			<span class="task-details__label">End</span>
			<span class="task-details__description">{{ meeting | meetingFormatter: false }}</span>
		</p>
		<p class="task-details__wrapper">
			<span class="task-details__label">Location</span>
			<span class="task-details__description">{{ meeting.location }}</span>
		</p>
		<p *ngIf="meeting.description">
			<span class="task-details__label">Details</span>
			<span class="task-details__description">{{ meeting.description }}</span>
		</p>
	</section>
</ng-template>