<ng-container [ngSwitch]="type">
	<ng-container *ngSwitchCase="listType.SolarBirthdays"
		[ngTemplateOutlet]="solar" 
		[ngTemplateOutletContext]="{ 'solar': item }">
	</ng-container>   
	<ng-container *ngSwitchCase="listType.LunarBirthdays"
		[ngTemplateOutlet]="lunar" 
		[ngTemplateOutletContext]="{ 'lunar': item }">
	</ng-container>
	<ng-container *ngSwitchCase="listType.Meetings"
		[ngTemplateOutlet]="meetings" 
		[ngTemplateOutletContext]="{ 'meeting': item }">
	</ng-container>   
	<ng-container *ngSwitchCase="listType.Tasks"
		[ngTemplateOutlet]="tasks" 
		[ngTemplateOutletContext]="{ 'task': item }">
	</ng-container>	
</ng-container>

<ng-template #solar let-solar="solar">
	<app-heading text="Solar Birthdays"></app-heading>
</ng-template>
<ng-template #lunar let-lunar="lunar">
	<app-heading text="Lunar Birthdays"></app-heading>
</ng-template>
<ng-template #meetings let-meeting="meeting">
	<app-heading text="Meetings"></app-heading>
</ng-template>
<ng-template #tasks let-task="task">
	<app-heading text="Tasks"></app-heading>
</ng-template>