<ng-container *ngIf="list" [ngSwitch]="displayList">
	<app-heading [text]="title" [level]="headerLevel.H2">
		<section post class="actions">
			<app-action ariaLabel="ariaLabel"
				[enabled]="true"
				[icon]="icon.Nav"
				(actionSelected)="navigateToPage(displayList)">
			</app-action>
		</section>
	</app-heading>
	<ng-container *ngSwitchCase="listType.SolarBirthdays"
		[ngTemplateOutlet]="solar" 
		[ngTemplateOutletContext]="{ 'recipients': list }">
	</ng-container>   
	<ng-container *ngSwitchCase="listType.LunarBirthdays"
		[ngTemplateOutlet]="lunar" 
		[ngTemplateOutletContext]="{ 'recipients': list }">
	</ng-container>
	<ng-container *ngSwitchCase="listType.Meetings"
		[ngTemplateOutlet]="meetings" 
		[ngTemplateOutletContext]="{ 'meetings': list }">
	</ng-container>   
	<ng-container *ngSwitchCase="listType.Tasks"
		[ngTemplateOutlet]="tasks" 
		[ngTemplateOutletContext]="{ 'tasks': list }">
	</ng-container>	
	<section *ngIf="list && list.length < 1">
		<app-no-results [message]="noResultsMsg">
		</app-no-results>
	</section>
</ng-container>

<ng-template #solar let-recipients="recipients">
	<section class="widget-container form-container flex-centered__column flex-stretch">
		<ul class="widget-list">
			<li *ngFor="let recipient of recipients"
				class="widget-list__item">
				<app-heading [level]="headerLevel.H3" 
					[text]="recipient.name">
				</app-heading>
				<section class="widget__birthday-status">
					<p class="widget-list__birthday">
						{{ recipient?.date?.month }}/{{ recipient?.date?.value }}
					</p>
					<app-date-indicator post [status]="recipient.status">
					</app-date-indicator>
					<span *ngIf="!recipient.status"></span>
				</section>
			</li>
		</ul>
	</section>
</ng-template>
<ng-template #lunar let-recipients="recipients">
	<section class="widget-container form-container flex-centered__column flex-stretch">
		<ul class="widget-list">
			<li *ngFor="let recipient of recipients"
				class="widget-list__item">
				<app-heading [level]="headerLevel.H3" 
					[text]="recipient.name">
				</app-heading>
				<section class="widget__birthday-status">
					<p *ngIf="recipient?.futureDates[currentYear] as cur"
						class="widget__birthday">
						<app-decorator ariaLabel="Solar"
							[icon]="icon.Solar">
						</app-decorator>
						{{ cur?.month }}/{{ cur?.value }}
					</p>
					<p class="widget__birthday">
						<app-decorator ariaLabel="Lunar"
							[icon]="icon.Lunar">
						</app-decorator>
						{{ recipient?.date?.cmonth }}/{{ recipient?.date?.cdate }} 
					</p>
				</section>
			</li>
		</ul>
	</section>
</ng-template>
<ng-template #meetings let-meetings="meetings">
	<section class="widget-container form-container flex-centered__column flex-stretch">
		<ul class="widget-list">
			<li *ngFor="let meeting of meetings"
				class="widget-list__item">
				<app-heading [level]="headerLevel.H3"
					[text]="meeting.name">
				</app-heading>
				<p class="widget-details">
					<span class="task-details__description">{{ meeting | meetingFormatter: true: 'shorthand' }}</span>
				</p>
			</li>
		</ul>
	</section>
</ng-template>
<ng-template #tasks let-tasks="tasks">
	<section class="widget-container form-container flex-centered__column flex-stretch">
		<ul class="widget-list">
			<li *ngFor="let task of tasks"
				class="widget-list__item widget-list_multi-line">
				<app-heading [level]="headerLevel.H3"
					[text]="task.name">
				</app-heading>
				<p class="widget-details multi-line">
					<span>{{ task | taskFormatter:'shorthand' }}</span>
					<app-status-indicator [status]="task.status"></app-status-indicator>
				</p>
			</li>
		</ul>
	</section>
</ng-template>

