<ul *ngFor="let item of list">
	<ng-container [ngSwitch]="type">
		<app-heading *ngSwitchCase="listType.SolarBirthdays"
			text="Solar Birthdays"></app-heading>
		<app-heading *ngSwitchCase="listType.LunarBirthdays"
			text="Lunar Birthdays"></app-heading>
		<app-heading *ngSwitchCase="listType.Meetings"
			text="Meetings"></app-heading>
		<app-heading *ngSwitchCase="listType.Tasks"
			text="Tasks"></app-heading>
	</ng-container>
</ul>

<ng-template #birthdays>
	Birthday!
</ng-template>
<ng-template #meetings>
	Meeting!
</ng-template>
<ng-template #tasks>
	Task!
</ng-template>