:host {
  border: 1px solid pink;
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: visible;
  padding: 8px;
  width: 100%;
}

.widget-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.widget-list {
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.widget-list__item {
  align-items: center;
  border-left: 4px solid pink;
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
  margin-bottom: 4px;
}

.widget-list__item ml-heading {
  width: 50%;
}

.widget-list_multi-line {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.widget-list_multi-line .widget-details {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.widget__birthday-status {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

.widget__birthday {
  align-items: center;
  display: flex;
  width: 100%;
}

.widget__meeting-date {
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 850px) {
  .widget__birthday-status {
    align-items: flex-start;
    width: 100%;
  }

  .widget-list__item {
    align-items: flex-start;
    flex-direction: column;
  }

  .widget__meeting-dates {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .widget__meeting-date {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  :host {
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  /** 
	* Otherwise the meeting start/end 
	* dates will each take its own row,
	* and the cell will look sparse.
	*/
  .widget__meeting-dates {
    flex-direction: row;
  }
}

@media only screen and (max-width: 450px) {
  .widget__meeting-dates {
    flex-direction: column;
  }
}
