<section class="form-container">
    <app-header [level]="headerLevel.H1" text="Add Birthday"></app-header>
    <form class="event-form"
        [formGroup]="eventForm"
        (ngSubmit)="onSubmit()">
        <fieldset class="name">
            <input type="text" 
                formControlName="name"
                placeholder="Name"/>
            <div *ngIf="eventFormControl.name.touched || eventFormControl.name.dirty">
                    <span *ngIf="eventFormControl.name.errors?.required"
                        class="input-error">
                        Name is required.
                    </span>
                    <span *ngIf="eventFormControl.name.errors?.minlength || eventFormControl.name.errors?.invalidName"
                        class="input-error">
                        Please enter a valid name.
                    </span>
            </div> 
            <app-datepicker appFocus 
                class="datepicker-container"
                placeholder="Date"
                [disableInput]="prefilledDate"
                [disabledDate]="prefilledDate"
                [calendarType]="calendarType"
                (onDatePicked)="setSelectedDate($event)">
            </app-datepicker> 
        </fieldset>        
        <button type="submit"
            [disabled]="!eventForm.valid || !selectedDate">
            Submit
        </button>
    </form>
</section>