:host {
    display: flex;
}

fieldset { 
    border: none;
}

.event-form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

@media (min-width: 400px) {
    .event-form {
        margin: 10px;
    }
}