<section class="form-container">
    <form class="event-form"
        [formGroup]="recipientForm"
        (ngSubmit)="onSubmit()">
		<app-heading [level]="headerLevel.H2" text="Recipient"></app-heading>
        <span class="form-instructions">Provide the recipient's name and birthdate.</span>
        <fieldset class="name">
            <input type="text" 
                formControlName="name"
                placeholder="Name"/>
            <div class="input-error" *ngIf="submitted && recipientFormControl.name.errors">
                <span *ngIf="recipientFormControl.name.errors?.required">
                     Name is required.
                </span>
                <span *ngIf="recipientFormControl.name.errors?.minlength || recipientFormControl.name.errors?.invalidName">
                    Please enter a valid name.
                </span>
            </div> 
            <app-datepicker appFocus 
                class="datepicker-container"
				controlName="day"
                placeholder="Date"
                [calendarType]="calendarType"
                [form]="recipientForm.controls.date"
                [submitted]="submitted">
            </app-datepicker>
            <app-checkbox 
                id="action-lunar"
                name="Lunar"
                checkboxName="lunar"
                [form]="recipientForm.controls.options">
            </app-checkbox>
        </fieldset>
		<fieldset>
			<app-heading [level]="headerLevel.H3" text="Contact Information">
                <span class="event-form__optional" post>Optional</span>
            </app-heading>
			<span class="form-instructions">Enter the recpient's contact details.</span>
			<input type="text" 
                formControlName="email"
                placeholder="Email"/>
            <div class="input-error" *ngIf="submitted && recipientFormControl.email.errors">  
                <span *ngIf="recipientFormControl.email.errors?.invalidEmail">
                    Please enter a valid email address.
                </span>
            </div>
			<app-phone-select [form]="recipientForm.controls.phone"
				[submitted]="submitted">
			</app-phone-select>
		</fieldset>
		<fieldset>
			<app-heading [level]="headerLevel.H3" text="Address">
				<span class="event-form__optional" post>Optional</span>
			</app-heading>
			<span class="form-instructions">Enter the recpient's mailing address.</span>
			<app-address [form]="recipientForm.controls.address"></app-address>
			<div class="input-error" *ngIf="submitted && recipientFormControl.address.errors">
				<span *ngIf="recipientFormControl.address.errors?.missingStreetAddress">
					Please enter a street address.
				</span>
				<span *ngIf="recipientFormControl.address.errors?.missingCity">
					Please enter a city.
				</span>
				<span *ngIf="recipientFormControl.address.errors?.missingZip">
					Please enter a zip code.
				</span>
			</div>
		</fieldset>
		<fieldset>
            <app-heading [level]="headerLevel.H3" text="Budget">
                <span class="event-form__optional" post>Optional</span>
            </app-heading>
			<span class="form-instructions">Enter the maximum amount of money to spend on a gift.</span>
			<input type="number"
                formControlName="budget"
				min="0" max="maxBudget"
                placeholder="Budget"/>
			<div class="input-error" *ngIf="submitted && recipientFormControl.budget.errors">
				<span *ngIf="recipientFormControl.budget.errors?.max">
					Budget should not exceed {{ maxBudget }}.
				</span>
				<span *ngIf="recipientFormControl.budget.errors?.min">
					Budget cannot be negative.
				</span>
			</div> 
		</fieldset>
        <fieldset>
            <app-heading [level]="headerLevel.H3" text="Profile Image">
                <span class="event-form__optional" post>Optional</span>
            </app-heading>
            <span class="form-instructions">Choose a profile image to represent the recipient.</span>
            <app-img-upload [form]="recipientForm.controls.profile"></app-img-upload>
        </fieldset>
        <fieldset class="event-options">
            <app-heading [level]="headerLevel.H3" text="Actions">
                <span class="event-form__optional" post>Optional</span>
            </app-heading>
            <span class="form-instructions">Select the actions you would like to perform on or close to the recipient's birthday.</span>
            <app-checkbox
                name="Call"
                [checkboxName]="recipientID.call"
                [form]="recipientForm.controls.options">
            </app-checkbox>
            <app-checkbox
                name="Text"
                [checkboxName]="recipientID.text"
                [form]="recipientForm.controls.options">
            </app-checkbox>
            <app-checkbox
                name="Buy Present"
                [checkboxName]="recipientID.gift"
                [form]="recipientForm.controls.options">
            </app-checkbox>
        </fieldset>
        <fieldset class="form-actions">
            <button type="button"
                class="cancel"
                (click)="onCancel()">
                Cancel
            </button>        
            <button type="submit">
                {{ recipientConfig.buttonAction }}
            </button>
        </fieldset>
    </form>
</section>