<section class="form-container">
    <form class="event-form"
        [formGroup]="recipientForm"
        (ngSubmit)="onSubmit()">
		<app-heading text="Recipient"
			[level]="headerLevel.H2">
		</app-heading>
        <span class="form-instructions">Provide the recipient's name and birthdate.</span>
        <fieldset class="name">
            <input formControlName="name"
                placeholder="Name"
				type="text"/>
            <div *ngIf="submitted && recipientFormControl.name.errors"
				class="input-error">
                <span *ngIf="recipientFormControl.name.errors?.required">
                     Name is required.
                </span>
                <span *ngIf="recipientFormControl.name.errors?.minlength || recipientFormControl.name.errors?.invalidName">
                    Please enter a valid name.
                </span>
				<span *ngIf="recipientFormControl.name.errors?.maxlength">
                    Name cannot exceed {{ limit.Name.max }} characters.
                </span>
            </div> 
            <app-datepicker appFocus 
                class="datepicker-container"
				controlName="day"
                placeholder="Date"
                [calendarType]="recipientForm.controls.options?.value?.lunar ? calendarType.Lunar : calendarType.Solar"
                [form]="recipientForm.controls.date"
                [submitted]="submitted">
            </app-datepicker>
            <app-checkbox checkboxName="lunar"
                id="action-lunar"
                name="Lunar"
                [form]="recipientForm.controls.options">
            </app-checkbox>
        </fieldset>
		<fieldset>
			<app-heading text="Contact Information"
				[level]="headerLevel.H3">
                <span class="event-form__optional" post>Optional</span>
            </app-heading>
			<span class="form-instructions">Enter the recpient's contact details.</span>
			<input formControlName="email"
                placeholder="Email"
				type="text"/>
            <div *ngIf="submitted && recipientFormControl.email.errors"
				class="input-error">  
                <span *ngIf="recipientFormControl.email.errors?.invalidEmail">
                    Please enter a valid email address.
                </span>
            </div>
			<app-phone-select appFocus
				[form]="recipientForm.controls.phone"
				[submitted]="submitted">
			</app-phone-select>
		</fieldset>
		<fieldset>
			<app-heading text="Address"
				[level]="headerLevel.H3">
				<span post class="event-form__optional">Optional</span>
			</app-heading>
			<span class="form-instructions">Enter the recpient's mailing address.</span>
			<app-address [form]="recipientForm.controls.address"></app-address>
			<div *ngIf="submitted && recipientFormControl.address.errors"
				class="input-error">
				<span *ngIf="recipientFormControl.address.errors?.missingStreetAddress">
					Please enter a street address.
				</span>
				<span *ngIf="recipientFormControl.address.errors?.missingCity">
					Please enter a city.
				</span>
				<span *ngIf="recipientFormControl.address.errors?.missingZip">
					Please enter a zip code.
				</span>
			</div>
		</fieldset>
		<fieldset>
            <app-heading text="Budget"
				[level]="headerLevel.H3" >
                <span post class="event-form__optional">Optional</span>
            </app-heading>
			<span class="form-instructions">Enter the maximum amount of money to spend on a gift.</span>
			<input formControlName="budget"
				min="0"
				max="maxBudget"
                placeholder="Budget"
				type="number"/>
			<div *ngIf="submitted && recipientFormControl.budget.errors"
				class="input-error">
				<span *ngIf="recipientFormControl.budget.errors?.max">
					Budget should not exceed {{ limit.Budget.max | currency }}.
				</span>
				<span *ngIf="recipientFormControl.budget.errors?.min">
					Budget cannot be negative.
				</span>
			</div> 
		</fieldset>
        <fieldset>
            <app-heading text="Profile Image"
				[level]="headerLevel.H3">
                <span post class="event-form__optional">Optional</span>
            </app-heading>
            <span class="form-instructions">Choose a profile image to represent the recipient.</span>
            <app-img-upload [form]="recipientForm.controls.profile"></app-img-upload>
        </fieldset>
        <fieldset class="event-options">
            <app-heading text="Actions"
				[level]="headerLevel.H3">
                <span post class="event-form__optional">Optional</span>
            </app-heading>
            <span class="form-instructions">Select the actions you would like to perform on or close to the recipient's birthday.</span>
            <app-checkbox
                name="Call"
                [checkboxName]="recipientID.call"
                [form]="recipientForm.controls.options">
            </app-checkbox>
            <app-checkbox
                name="Text"
                [checkboxName]="recipientID.text"
                [form]="recipientForm.controls.options">
            </app-checkbox>
            <app-checkbox
                name="Buy Present"
                [checkboxName]="recipientID.gift"
                [form]="recipientForm.controls.options">
            </app-checkbox>
        </fieldset>
        <fieldset class="form-actions">
            <button class="cancel"
				type="button"
                (click)="onCancel()">
                Cancel
            </button>        
            <button type="submit">
                {{ recipientConfig.buttonAction }}
            </button>
        </fieldset>
    </form>
</section>