<app-heading [level]="headerLevel.H1" [text]="header"></app-heading>
<section class="task-list__selectors">
	<app-sort-select [list]="giftSortOptions"
		(onSortSelected)="onSortSelected($event)">
	</app-sort-select>
	<app-recipient-filter [list]="recipients"
		(onRecipientSelect)="filterByRecipient($event)"
		(onFilterReset)="resetRecipientFilter()">
	</app-recipient-filter>
</section>

<section *ngIf="list$ | async as list">
	<section *ngIf="list && list.length > 0"
		class="task-list__scrollable-container hide-scrollbar">
		<section class="task-list__scrollable-list">
			<ul class="task-list">
				<li class="task-list__item" *ngFor="let gift of list">
					<ng-container [ngTemplateOutlet]="giftList" 
						[ngTemplateOutletContext]="{ 'gift': gift }">
					</ng-container>   
				</li>
			</ul>
		</section>	
	</section>
	<section class="no-results flex-centered__column"
    	*ngIf="list && list.length === 0">
    <app-no-items [config]="noItemsConfig"></app-no-items>
</section>
</section>

<ng-template #giftList let-gift="gift">
	<section class="task-list__item-info form-container flex-centered__column flex-stretch">
		<app-heading [level]="headerLevel.H2" [text]="gift.recipient?.name">
			<section class="actions edit-actions" post>
				<app-action ariaLabel="Edit"
					[enabled]="true"
					[icon]="icon.Edit"
					(actionSelected)="editGift(recipient)">
				</app-action>
				<app-action ariaLabel="Delete"
					[enabled]="true"
					[icon]="icon.Delete"
					(actionSelected)="onDeleteClicked(recipient.uuid)">
				</app-action>
			</section>
		</app-heading>
		<p class="task-details__wrapper">
			<span class="task-details__label">{{ gift.occasion }} - {{ gift.year }}</span>
			<span class="task-details__description">${{ gift.price || 0 }}</span>
		</p>
		<p *ngIf="gift.description" class="task-details__wrapper">
			<span class="task-details__description">{{ gift.description }}</span>
		</p>
	</section>
	<section class="task-list__photo-container">
		<img *ngIf="gift.image" class="task-list__item-photo" src="{{ base64Prefix }}{{ gift.image }}"/>
		<img *ngIf="!gift.image" class="task-list__item-photo" src="./assets/images/gift.png"/>
	</section>
</ng-template>