:host {
	display: flex;
	height: 100%;
	-ms-overflow-style: none; /* IE 11 */
	overflow: auto;
	scrollbar-width: none; /* Firefox 64 */
  	width: 100%;
}

:host::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

