<ng-content select="[pre]"></ng-content>
<ng-container [ngSwitch]="level">
    <h1 *ngSwitchCase="HeaderLevel.H1" class="heading truncate" >{{ text }}</h1>
    <h2 *ngSwitchCase="HeaderLevel.H2" class="heading truncate">{{ text }}</h2>
    <h3 *ngSwitchCase="HeaderLevel.H3" class="heading truncate">{{ text }}</h3>
    <h4 *ngSwitchCase="HeaderLevel.H4" class="heading truncate">{{ text }}</h4>
    <h5 *ngSwitchCase="HeaderLevel.H5" class="heading truncate">{{ text }}</h5>
    <h6 *ngSwitchCase="HeaderLevel.H6" class="heading truncate">{{ text }}</h6>
</ng-container>
<ng-content select="[post]"></ng-content>
