.search-container {
	align-items: center;
	display: flex;
	position: relative;
}

.search-input {
	border-radius: 16px;
	margin: 8px;
	min-height: 35px;
}

.clear-search,
.search-indicator {
	position: absolute;
	right: 16px;
}
