.cancel-btn {
  align-self: flex-end;
  color: #dd2e44;
}

.dialog-overlay {
  background-color: #feecf2d5;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.dialog {
  padding: 8px;
  border: 2px solid #dd2e44;
  background-color: white;

  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 400px;

  animation: appear 0.25s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
}

.message {
  padding: 10px;
}
