<section *ngIf="showDialog$ | async as dialog"
	class="dialog-overlay">
    <div class="dialog">
        <header class="header">
            <span></span>
            {{ dialog.title }}
            <button class="cancel-btn description"
				type="button" 
                (click)="hideDialog()">
                <i class="fas fa-times"></i>
            </button>
        </header>
        <p class="description message">{{ dialog.message }}</p>
        <fieldset *ngIf="dialog.dialogType === dialogType.Confirm"
			class="form-actions">
            <button class="cancel"
				type="button"
                (click)="onCancel()">
                Cancel
            </button>        
            <button type="submit"
                (click)="onContinue()">
                Continue
            </button>
        </fieldset>
    </div>
</section>