<section class="form-container">
    <form class="event-form"
        [formGroup]="giftForm"
        (ngSubmit)="onSubmit()">
		<app-heading [level]="headerLevel.H3" text="Recipient"></app-heading>
		<span class="form-instructions">Enter recipient and gift details.</span>
		<app-recipient-select [form]="giftForm.controls.recipients"
			[list]="recipientList$ | async"
			[submitted]="submitted">
		</app-recipient-select>
		<app-occasion-select [form]="giftForm.controls.occasions"
			[submitted]="submitted">
		</app-occasion-select>
		<fieldset class="details">
            <input type="number" 
                formControlName="year"
                placeholder="Year"/>
            <div class="input-error" *ngIf="submitted && giftFormControl.year.errors">
                <span *ngIf="giftFormControl.year.errors?.required">
                    Year is required.
                </span>
				<span *ngIf="giftFormControl.year.errors?.min">
                    Year must be {{ limit.Year.min }} or later.
                </span>
				<span *ngIf="giftFormControl.year.errors?.max">
                    Year is too large.
                </span>
            </div>
			<input type="number"
				formControlName="price"
				[min]="limit.Budget.min" [max]="limit.Budget.max"
				placeholder="Price"/>
			<div class="input-error" *ngIf="submitted && giftFormControl.price.errors">
				<span *ngIf="giftFormControl.price.errors?.max">
					Price should not exceed {{ limit.Budget.max | currency }}.
				</span>
				<span *ngIf="giftFormControl.price.errors?.min">
					Price cannot be negative.
				</span>
			</div>
        </fieldset>
		<fieldset>
            <app-heading [level]="headerLevel.H3" text="Gift Image">
                <span class="event-form__optional" post>Optional</span>
            </app-heading>
            <span class="form-instructions">Upload an image of the gift.</span>
            <app-img-upload [form]="giftForm.controls.gift"></app-img-upload>
        </fieldset>
		<app-description [form]="giftForm"
			[submitted]="submitted"
			controlName="description"
			formInstructions="Enter a description of the gift."></app-description>
		<fieldset class="form-actions">
            <button type="button"
                class="cancel"
                (click)="onCancel()">
                Cancel
            </button>        
            <button type="submit">
                {{ giftConfig.buttonAction }}
            </button>
        </fieldset>
    </form>
</section>