<section class="form-container">
    <form class="event-form"
        [formGroup]="giftForm"
        (ngSubmit)="onSubmit()">
		<app-heading [level]="headerLevel.H3" text="Recipient"></app-heading>
		<span class="form-instructions">Enter recipient and gift details.</span>
        <fieldset class="recipient condensed">
            <input type="text" 
                formControlName="recipient"
                placeholder="Recipient"/>
			<input type="text" 
                formControlName="occasion"
                placeholder="Occasion"/>
        </fieldset>
		<fieldset class="details condensed">
            <input type="number" 
                formControlName="year"
                placeholder="Year"/>
            <div class="input-error" *ngIf="submitted && giftFormControl.year.errors">
                <span *ngIf="giftFormControl.year.errors?.required">
                    Year is required.
                </span>
            </div>
			<input type="number"
				formControlName="price"
				min="0" max="maxBudget"
				placeholder="Price"/>
        </fieldset>
		<div class="input-error" *ngIf="submitted">
			<span *ngIf="giftFormControl.recipient.errors?.required">
				Recipient is required.
			</span>
			<span *ngIf="giftFormControl.occasion.errors?.required">
				Occasion is required.
			</span>
		</div> 
		<fieldset>
            <app-heading [level]="headerLevel.H3" text="Gift Image">
                <span class="event-form__optional" post>Optional</span>
            </app-heading>
            <span class="form-instructions">Upload an image of the gift.</span>
            <app-img-upload [form]="giftForm.controls.gift"></app-img-upload>
        </fieldset>
		<app-description [form]="giftForm"
			[submitted]="submitted"
			controlName="description"
			formInstructions="Enter a description of the gift."></app-description>
		<fieldset class="form-actions">
            <button type="button"
                class="cancel"
                (click)="onCancel()">
                Cancel
            </button>        
            <button type="submit">
                {{ giftConfig.buttonAction }}
            </button>
        </fieldset>
    </form>
</section>