<section class="form-container">
    <form class="event-form"
        [formGroup]="giftForm"
        (ngSubmit)="onSubmit()">
		<app-heading text="Gift Details"
			[level]="headerLevel.H3">
		</app-heading>
		<span class="form-instructions">
			Provide recipient and gift details.
		</span>
		<app-recipient-select [form]="giftForm.controls.recipients"
			[list]="recipientList$ | async"
			[submitted]="submitted">
		</app-recipient-select>
		<app-occasion-select [form]="giftForm.controls.occasions"
			[submitted]="submitted">
		</app-occasion-select>
		<fieldset class="details">
            <input formControlName="year"
				placeholder="Year"
				type="number"/>
            <div *ngIf="submitted && giftFormControl.year.errors"
				class="input-error">
                <span *ngIf="giftFormControl.year.errors?.required">
                    Year is required.
                </span>
				<span *ngIf="giftFormControl.year.errors?.min">
                    Year must be {{ limit.Year.min }} or later.
                </span>
				<span *ngIf="giftFormControl.year.errors?.max">
                    Year is too large.
                </span>
            </div>
			<input formControlName="price"
				type="number"
				placeholder="Price"
				[max]="limit.Budget.max"
				[min]="limit.Budget.min"/>
			<div *ngIf="submitted && giftFormControl.price.errors"
				class="input-error">
				<span *ngIf="giftFormControl.price.errors?.max">
					Price should not exceed {{ limit.Budget.max | currency }}.
				</span>
				<span *ngIf="giftFormControl.price.errors?.min">
					Price cannot be negative.
				</span>
			</div>
        </fieldset>
		<fieldset>
            <app-heading text="Gift Image"
				[level]="headerLevel.H3">
                <span post class="event-form__optional">Optional</span>
            </app-heading>
            <span class="form-instructions">Upload an image of the gift.</span>
            <app-img-upload [form]="giftForm.controls.gift"></app-img-upload>
        </fieldset>
		<app-description controlName="description"
			formInstructions="Enter a description of the gift."
			[form]="giftForm"
			[submitted]="submitted">
		</app-description>
		<fieldset class="form-actions">
            <button class="cancel"
				type="button"
                (click)="onCancel()">
                Cancel
            </button>        
            <button type="submit">
                {{ giftConfig.buttonAction }}
            </button>
        </fieldset>
    </form>
</section>