.ml-calendar__todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ml-calendar__todo-list:not(:last-child) {
	margin-bottom: 4px;
}

.ml-calendar__todo-list-item {
	display: flex;
	font-size: 0.7rem;
	text-align: left;
	white-space: nowrap
}

.ml-calendar__todo-list-item:not(:last-child) {
	margin-bottom: 2px;
}

.ml-calendar__todo-list-button {
	font-size: inherit;
	text-align: left;
}

.ml-calendar__todo-list-pill {
  background-color: #dd2e44;
  border-radius: 8px;
  color: white;
  font-size: inherit;
  padding: 0 8px;
}

.ml-calendar__badge-container {
	align-items: center;
	background-color: #dd2e44;
    border-radius: 50%;
	color: white;
	display: flex;
	height: 16px;
	justify-content: center;
    position: absolute;
	right: 4px;
    top: 4px;
    width: 16px;
}

.ml-calendar__badge {
	font-size: 0.6rem;
	line-height: 1rem;
}
