<section class="ml-calendar__schedule">
	<div class="ml-calendar__badge-container"
		[attr.ariaLabel]="getTotalEventsLabel()">
		<span class="ml-calendar__badge">{{ getTotalEvents() }}</span>
	</div>
	<ul class="ml-calendar__todo-list" *ngFor="let birthday of schedule.solar">
		<li class="ml-calendar__todo-list-item">
			<button type="button" 
				class="ml-calendar__todo-list-button ml--focus"
				tabindex="0"
				(click)="navigate(topic.Birthdays)">
				<span class="ml-calendar__todo-list-pill">Birthday</span>
				<span class="ml-calendar__todo-list-description">{{ birthday.name }}</span>
			</button>
		</li>
	</ul>
	<ul class="ml-calendar__todo-list" *ngFor="let birthday of schedule.lunar">
		<li class="ml-calendar__todo-list-item">
			<button type="button"
				class="ml-calendar__todo-list-button ml--focus"
				tabindex="0"
				(click)="navigate(topic.Birthdays)">
				<span class="ml-calendar__todo-list-pill">Birthday</span>
				<span class="ml-calendar__todo-list-description">{{ birthday.name }}</span>
			</button>
		</li>
	</ul>
	<ul class="ml-calendar__todo-list" *ngFor="let meeting of schedule.meetings">
		<li class="ml-calendar__todo-list-item">
			<button type="button"
				class="ml-calendar__todo-list-button ml--focus"
				tabindex="0"
				(click)="navigate(topic.Meetings)">
				<span class="ml-calendar__todo-list-pill">Meeting</span>
				<span class="ml-calendar__todo-list-description">{{ meeting | meetingCalendar }}</span>
			</button>
		</li>
	</ul>
	<ul class="ml-calendar__todo-list" *ngFor="let task of schedule.tasks">
		<li class="ml-calendar__todo-list-item">
			<button type="button"
				class="ml-calendar__todo-list-button ml--focus"
				tabindex="0"
				(click)="navigate(topic.Tasks)">
				<span class="ml-calendar__todo-list-pill">Task</span>
				<span class="ml-calendar__todo-list-description">{{ task | taskCalendar }}</span>
			</button>
		</li>
	</ul>
</section>
