<section class="ml-calendar__schedule">
	<ul class="ml-calendar__todo-list" *ngFor="let birthday of schedule.solar">
		<li class="ml-calendar__todo-list-item">
			<span class="ml-calendar__todo-list-pill">Birthday</span>
			{{ birthday.name }}
		</li>
	</ul>
	<ul class="ml-calendar__todo-list" *ngFor="let birthday of schedule.lunar">
		<li class="ml-calendar__todo-list-item">
			<span class="ml-calendar__todo-list-pill">Birthday</span>
			{{ birthday.name }}
		</li>
	</ul>
	<ul class="ml-calendar__todo-list" *ngFor="let meeting of schedule.meetings">
		<li class="ml-calendar__todo-list-item">
			<span class="ml-calendar__todo-list-pill">Meeting</span>
			{{ meeting | meetingCalendar }}
		</li>
	</ul>
	<ul class="ml-calendar__todo-list" *ngFor="let task of schedule.tasks">
		<li class="ml-calendar__todo-list-item">
			<span class="ml-calendar__todo-list-pill">Task</span>
				{{ isSelected }}
			{{ task | taskCalendar }}
		</li>
	</ul>
</section>
