.ml-calendar__todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.ml-calendar__todo-list:not(:last-child) {
	margin-bottom: 4px;
}

.ml-calendar__todo-list-item {
  font-size: 0.7rem;
  text-align: left;
}

.ml-calendar__todo-list-item:not(:last-child) {
	margin-bottom: 2px;
}

.ml-calendar__todo-list-pill {
  background-color: #dd2e44;
  border-radius: 8px;
  color: white;
  font-size: inherit;
  padding: 0 8px;
}
